[2014-09-12 14:11] brki opened #3 "With django 1.7, it is impossible to run syncdb or migrate more than once"
To reproduce:

[code]

The error generated is like this:

[code]

[2014-09-13 05:34] treyhunner opened #6 "Make contributing/testing easier"
Some suggestions:
- [x] Use tox for testing against multiple versions of Python
- [x] Use Travis CI or Circle CI for continuous integration tests
- [x] Use Coveralls to measure code coverage
- [x] Advertise test status and code coverage in README file with badges
- [x] Add a CONTRIBUTING.rst file
- [x] Add Sphinx documentation
- [x] Support Python 3

Some links with more advise:
- https://github.c

[2014-09-15 13:46] #3 closed, assigned to nobody

[2014-10-15 14:46] gidoca opened #15 "six should be in install_requires"
When running 'python manage.py test versions' in a Django app using CleanerVersion, I get the error 'ImportError: No module named six.' This appears to be due to the fact that CleanerVersion uses six without it being in the install_requires list in setup.py. I believe that it should either be added to that list, or CleanerVersion should use Django's internal copy by replacing 'import six' by 'from

[2014-10-17 07:34] #15 closed, assigned to nobody

[2014-10-17 13:00] brki opened #19 "Not possible to create Multi-Table Inheritance schemas using Versionable"
Multi-table inheritance ( https://docs.djangoproject.com/en/1.7/topics/db/models/#multiple-inheritance ) with Versionable is not possible.

Just to make it clear, multi-table inheritance is when you don't declare abstract=True in your superclasses, and results in multiple tables being created (for the example below, adding a Spaceship object would create an entry in an appname_spaceship table, as

[2014-10-23 16:47] gidoca opened #22 "VersionedManyToManyField without through attribute generates invalid SQL"
When using `VersionedManyToManyField` without specifying an intermediary model by means of the `through` argument, invalid SQL is generated. It will generate queries like `SELECT "demo_secondmodel_other"."FirstModel_id" FROM ...`, when the database column is actually called `firstmodel_id` in lowercase. This causes all queries involving the many-to-many relationship to fail. Note that this problem

[2014-10-24 15:00] maennel opened #23 "Mix of CamelCase and lowercase names used as column names"
When models including M2M-relationships are written to the DB, column name cases are mixed up between CamelCase and lowercase.

Keep everything in lowercase.

Reported by @gidoca (Thanks!)

[2014-10-28 19:53] maennel opened #26 "Test CleanerVersion migration support for Django =< 1.6 (e.g. with South)"
Django 1.7 introduced migrations. CleanerVersion has been adapted to support these (in PR #24).
However, has not been tested whether CleanerVersion on Django 1.6 supports migrations with South.
If it does not, the according fixes should be applied if possible.

Initial note by @jczulian:
"Since Django migration is inherited from South (migration system used before 1.7) I wonder what is happening w

[2014-10-30 09:30] maennel opened #27 "Integration of query_time propagation"
I did a first draft integrating the propagate_querytime() function directly to the filtering function in branch https://github.com/swisscom/cleanerversion/tree/integrate_query_time_propagation

However, this new integration seems like it's not stressed enough by the unit tests yet. So, there's clearly some potential for better testing. See https://github.com/swisscom/cleanerversion/commit/5f69b778

[2014-11-16 12:04] #27 closed, assigned to nobody

[2014-11-16 12:06] #22 closed, assigned to nobody

[2014-11-21 09:49] brki opened #32 "previous_version and next_version: unintuitive behaviour for related objects"
How to reproduce.

1. Create a Versionable object having relation (m2m or o2m) with another Versionable. Save this first version.
2. Create a new version of this model.
3. Using the latest version call on it the previous_version() method to get back the initially created version.
4. Navigate the relation of that origin version and see that you don't get anything back as you would expect.

Possible

[2014-11-21 10:18] brki opened #33 "Add a time_version method to VersionManager"
previous_version, next_version, and current_version already exist.  It would make sense to add a method to get the given object at a specific time, returning None if no such version existed.

Then it would be possible to write:

[code]

Instead of:

[code]

And it would allow optimizing it to return the same object if the asked-for time lies in the given object's validity period.

[2014-11-24 14:59] #6 closed, assigned to nobody

[2015-01-06 14:21] raphaelm opened #42 "Deletion with related objects"
The ``VersionedForeignKey`` should do either of those:

* raise a warning if the ``on_delete`` attribute is set, as it has no effect
* implement ``on_delete`` correctly and thus ``Verionable.delete`` should do things as cascade deletion, deletion protection, setting references to ``NULL``, …

[2015-01-14 09:43] maennel commented on #23
This issue was addressed by PR #39 and can be closed, since @brki 's code has been merged.

[2015-01-14 09:44] #23 closed

[2015-01-16 18:02] arild-haugstad opened #45 "Going through VersionedForeignKey for filter() has strange edge cases with as_of()"
This test should illustrate the issue:

[code]

For the first `Player.objects.as_of()`-query, we get the player object; for the second, we get no results.

My understanding is that `VersionedForeignKey.get_extra_restriction()` adds `WHERE`-clauses as appropriate wrt. `version_start_date` and `version_end_date` for the active `querytime`.  (Or for the "current" version if there is no active `queryt

[2015-01-18 18:16] raphaelm opened #46 "Incompatibility with Django 1.8a1"
Trying out the brand-new Django 1.8a1, I run into the following issue:

[code]

I would have tried to fix it myself, but it took my to long to get an understanding of what exactly is going on in VersionedWhereNode.

[2015-01-18 18:21] raphaelm opened #47 "Django 1.8: Consider using UUIDField"
Django 1.8 introduces [UUIDField](https://docs.djangoproject.com/en/dev/ref/models/fields/#django.db.models.UUIDField), which should turn out to be a good choice for cleanerversion's primary keys. However, it's very unclear to me whether there might be migration issues (it should work) and how to maintain compatibility to Django <1.8.

[2015-01-27 19:54] maennel commented on #45
Hi @arild-haugstad,

thanks for your contribution. This is just to inform you that I've taken up your test case and I'm currently working on a solution to this issue. As you've mentioned, there are quite a couple of potential conflicts with existing tests.

I'll keep you updated as soon as I've got something usable.
-Manuel

[2015-01-29 15:33] maennel commented on #45
@arild-haugstad I've written a fix in PR #50 for the problem you reported. I hope this enables you in proceeding to use CleanerVersion!
Thanks for contributing,
-Manuel

[2015-01-29 15:33] #45 closed

[2015-01-30 13:12] maennel commented on #33
In the context of mixing versionable and non-versionable models, it would also be useful to jump to another object version directly from a given object version; e.g.:

    foo_old = foo.time_version(as_of_time)

instead of running

    foo_old = foo.__class__.objects.as_of(as_of_time).get(identity=foo.identity)

Basically, the same thing as mentioned by @brki

[2015-01-30 15:28] b-d-b opened #52 "Error attempting to use VersionedManytoMany field"
With the latest release of your nice plugin (which I am very grateful you have provided to the community), I encountered a problem using the VersionedManyToMany field.

My model setup is like so:

Cassette(Versionable):
{{details}}

CassetteGross(Versionable):
cassettes = VersionedManyToManyField(Cassette)

When I attempt to access the cassettes from my CassetteGross object (cg below), I get the f

[2015-01-30 15:30] b-d-b commented on #52
If it helps, I get the same error attempting to go the other way with the relation, like:

cassette = Cassete.someobject
cassette.cassettegross_set.current.all()

Returns the same stacktrace.

Similarly, when attempting to add a cassette to the cassettegross I get the same stacktrace.

[2015-01-30 16:00] maennel commented on #52
Hi @b-d-b

Thanks for your feedback, glad you like CleanerVersion.

What version did you work with previously?
I know it's a bit hidden, but in the [Release Notes of version 1.4.0](https://github.com/swisscom/cleanerversion/releases/tag/v1.4.0) it says that the DB schema is changed from that version on. Concretely, this means that column names are forced to be lowercase in versions >= 1.4.0. So, i

[2015-01-30 16:21] brki commented on #52
@b-d-b : Does this work:?

[code]

That should give you all the current cassettes associated with cg.  The current-ness should be propagated automatically.

Of course, maennel's previous comment may indeed be the cause of your problem.

[2015-01-30 16:25] brki commented on #33
I don't really like ``time_version`` as a method name though.  ``version_as_of(..)`` perhaps?

[2015-01-30 16:34] maennel commented on #33
+1 for version_as_of(..)
;)

-Manuel

On Fri, Jan 30, 2015, 17:25 brki <notifications@github.com> wrote:

[2015-01-30 16:41] b-d-b commented on #52
Actually Manuel's idea seemed to work.  We dropped our database and reran the migrations and it fixed the problem.  Thanks for your quick feedback and support of the problem at hand.  If there is any way I can help support this project in the future, please let me know.  Great work guys.

[2015-01-30 16:46] #52 closed

[2015-01-31 22:26] maennel commented on #46
Hi Raphael,
I've fixed the 'lacking `join_map`' issue in branch [django18-compatibility](https://github.com/swisscom/cleanerversion/tree/django18-compatibility).
However, other (in my opinion - minor) issues persist.
FYI, support for Django 1.8 is no prio for the moment, but it will surely appear on the roadmap as soon as Django 1.8 approaches its release date (early april 2015).
Thanks!

[2015-02-01 15:30] raphaelm commented on #46
I did not expect that Django 1.8 support is a priority to you, but wanted to report this nevertheless, as I did not understand the code well enough to fix it myself. Having this blocker out of the way, I think I'll try fixing the other issues if I have the time.
I'm already interested in Django 1.8 because my app will launch no earlier than April and I desperately want to have some of the 1.8 feat

[2015-02-02 10:40] brki opened #53 "migrations not working properly"
Encountered with python 2.7.9, Django 1.7.4 and CleanerVersion 1.3.3  - 1.4.1.  Did not try 1.3.2 or earlier.

How to reproduce (this sequence is based on the process described in the Django tutorial https://docs.djangoproject.com/en/1.7/intro/tutorial01/ )
[code]
* add bar in foo.settings.INSTALLED_APPS
* edit bar/models.py so that it looks like this:
[code]

Then run:
[code]
This gives following

[2015-02-03 20:26] ezheidtmann opened #54 "Improve docs & error messages for use of VersionedForeignKey vs ForeignKey"
I am just learning CleanerVersion and I think I just learned that one should use VersionedForeignKey to point to a Versionable model, but use ForeignKey to point to an unversioned model.

I didn't get this from the docs. Maybe there is a way to mention it in there.

I also didn't get this from the error message I get when trying to display that field in the admin:

[code]

I think at least, this m

[2015-02-03 20:40] maennel commented on #54
Hi @ezheidtmann,
well, I think this is our fault... Actually, the doc-part you're referring to has been [merged into master yesterday](https://github.com/swisscom/cleanerversion/blob/master/docs/doc/historization_with_cleanerversion.rst#integrating-cleanerversion-versioned-models-with-non-versioned-models).
Since then, no one has triggered the update on [readthedocs](http://cleanerversion.readthed

[2015-02-06 12:32] maennel commented on #54
In the meanwhile, I guess it's ok to close this issue.
Let me know, if there's anything else...
-Manuel

[2015-02-06 12:32] #54 closed

[2015-02-11 20:39] raphaelm opened #56 "Error during migrations"
During running an auto-generated migration, I run into
[code]

The migration looks like

[code]
I'm not 100% sure but I'm fairly certain that the migration was created because I explicitely set the ``related_name`` attribute, while it was auto-generated before. Do you think there is an easy way to solve this?

[2015-02-11 23:34] raphaelm opened #57 "Joining problems when mixing versioned and unversioned models"
If you have two models
[code]
a lookup like
[code]
will fail with ``ValueError("joined_alias not set")`` (triggered in versions/models.py:271). When I change the OrderPosition model to be versionable as well (which I now did, do avoid further confusion), all works well. However, for the future, one might want to fix this, if it is possible without too much effort.

[2015-02-11 23:40] raphaelm commented on #54
I'd like to add two minor comments.

@ezheidtmann:

I would be happy to be told that I'm wrong on this, but I think the docs should stress that in general it is not a good idea to use Django's admin panel together with cleanerversion, as it will lead to unexpected behaviour (e.g. you loose history, as the admin does not call ``.clone()`` and everyone who uses the admin has to know about cleanerver

[2015-02-24 01:02] ezheidtmann commented on #54
As for the error message, I'd like to see something like this:

[code]

I think you can get there by revising the line shown in the traceback to this:

[code]

@raphaelm Do you know if anyone has attempted to patch the admin's behavior to work with cleanerversion? I tried briefly by calling `.clone()` in `save_model()` but the results were confusing.

[2015-02-24 08:35] raphaelm commented on #54
No, I do not know of any attempt to support cleanerversion in the admin and I guess it's a bit complicated to do so, as you would not want the admin to list all versions of an object as distinct objects with the same identity, but you would like to group them in a way that makes sense, which would require big changes to the admin code.

[2015-02-24 10:33] maennel commented on #54
@ezheidtmann Indeed, as @raphaelm pointed out, integration to the admin view is currently not on our roadmap at all. Which means, that we currently cannot invest much time into developing this feature (except our free time).
However, I don't exclude that it's coming sooner or later... Therefore, I'd suggest that you write a separate issue dedicated to that topic, listing the requirements that you

[2015-02-26 18:24] ezheidtmann opened #59 "Admin Integration (a wishlist for someday)"
CleanerVersion does not currently integrate with the Django admin, but it may someday. As suggested in #54, here are some features or behaviors that might be considered when integrating CleanerVersion with the Django admin:

 - Create a new version on every edit (or optionally with "create new version" checkbox on edit form)
 - View only current revisions and/or set the "as_of" date via filter on

[2015-02-28 00:51] ezheidtmann opened #62 "RunPython migrations are broken with VersionedForeignKey fields"
I'm trying to write a data migration for my app, and receiving the "not a Versionable" error when I read any VersionedForeignKey fields from models retrieved with the `apps.get_model()` recommended in Django docs. For example, this code is inside a RunPython migration:

[code]

I'm not sure whether this is the fault of Django migrations or of CleanerVersion.

I set a breakpoint inside `versions/mo

[2015-03-11 13:02] maennel opened #63 "Unintended collection deletion behaviour"
``<Model>.objects.current.all().delete()`` does not apply the ``_delete_at()`` procedure defined in ``Versionable`` (which is to terminate each version), but deletes objects from the DB (including referencing objects; so, CASCADING is applied here). In this Django-default case, deletion is done via ``django.db.models.deletion.Collector``.
The current workaround is to do a for-loop over all instanc

[2015-03-25 13:08] brki commented on #32
Good points.

[2015-03-30 14:26] brki opened #67 "Allow specifying id when creating objects"
Let CleanerVersion do the following:
 * validate that id, if provided, is a valid UUID v4 string
 * set identity = id (and of course generate id if not provided)

Here's some code that validates uuid4: https://gist.github.com/ShawnMilo/7777304  (but would need to validate that input id is '^[-\w]+$', and strip '-' characters before doing that comparison)

Since the id is the primary key column, th

[2015-04-10 20:55] ezheidtmann opened #68 "How to duplicate a versionable object?"
I have an object X, which is a Versionable model. I want to make a new object Y that has all the same field values as X, but has an unrelated history (i.e. no history).

In projects without versioning, I can do this:

[code]

But a similar approach gets me an integrity error with CleanerVersion:

`IntegrityError: NOT NULL constraint failed: mymodel.id`

Any advice? I'll post back here when/if I fi

[2015-04-11 10:37] maennel commented on #68
Hi Evan,

Try out the following:

o.id = o.identity = uuid4()
# let's give the object a new id
o.version_start_date = o.version_birth_date = now()
# and let's set its start date to the current timestamp
o.version_end_date = None
# Ensure the new object to be current
o.save()

As a generic approach I could imagine to have the above code inside a
"duplicate" method on Versionables.

Thanks,
-Manuel

[2015-04-11 15:15] ezheidtmann commented on #68
Thanks! This works great. I did it like this:

[code]

I am not sure what to call this method: it doesn't make a duplicate; instead, it changes the current object into its own duplicate. And I didn't want to call `save()` because I've ended up in tough situations in the past trying to customize the `save()` method. So I called it `new_identity` because it gives the current object a new identity.

[2015-04-21 21:18] peterfarrell commented on #59
I'd love to see something like this.  If the list of "features" in this ticket is what you want, I might be able to see if I have some engineering time to work on it.

[2015-04-22 14:22] maennel commented on #59
Hi @peterfarrell,
thanks for your message. I currently don't have a precise idea of how such an integration with Django admin should look like. The points brought up by @ezheidtmann sound reasonable to me.
For anything else I'll let you come up with something. Probably it's best to sketch a list of some requirements directly in the docs.

As a side note: From experience, relationships usually gene

[2015-04-22 14:41] #67 closed

[2015-04-22 14:41] brki commented on #67
implementation for this was merged into master.

[2015-04-22 14:43] brki commented on #42
Deletion handling has been merged into master, see docs for how this behaves for Versionable objects.

[2015-04-22 14:43] #42 closed

[2015-04-22 14:45] brki commented on #32
Code for this was merged into master.

[2015-04-22 14:45] #32 closed

[2015-04-22 15:26] brki commented on #68
How about ``sever()`` or, less cuttingly, ``detach()``?

It could accept a boolean parameter ``save``, defaulting to False, that would control whether or not it is saved immediately.

[2015-04-22 15:35] brki opened #70 "postgresql: add helper to allow ensuring no identity + validity period overlap"
Create an exclusion constraint for ``version_start_date`` and ``version_end_date`` for objects with the same ``identity``. ( see http://www.postgresql.org/docs/9.3/static/rangetypes.html#RANGETYPES-CONSTRAINT).

This will only be usable if the btree_gist postgresql extension is installed (this requires superuser permissions to install).

[2015-04-22 19:06] ezheidtmann commented on #68
Excellent name! I left out the `save` parameter because you can achieve that with `o.detach().save()`. Probably should have tests for this thing.

[2015-04-23 10:04] brki commented on #68
Thanks for the contribution! This has been included in v1.4.5.

[2015-04-23 10:04] #68 closed

[2015-04-23 15:11] brki opened #72 "restore() should accept ForeignKey parameters in a Djangoesque way"
At the moment it works like this:
[code]

But it should really work like everywhere else with Django Models:

[code]
and
[code]

[2015-04-23 19:31] brki commented on #72
done

[2015-04-23 19:31] #72 closed

[2015-04-23 23:00] peterfarrell commented on #59
@maennel, thanks for your message -- I think I will try in the next few weeks in building something at least basic and we can work from there.

[2015-04-24 18:43] ezheidtmann opened #73 "Can't load fixture for model with VersionedManyToManyField"
If I have a `VersionedManyToManyField` on a modal, I can dump it to a fixture fine, but loaddata fails with this message from `versions/models.py` line 961:

`Related values can only be directly set on the current version of an object`

I'll follow up with more information and hopefully a solution.

[2015-04-25 00:02] ezheidtmann commented on #73
My solution for now is to delete all non-current models from my database before running `./manage.py dumpdata`.

[2015-05-18 21:51] boydjohnson commented on #59
Peter has assigned me this task. We have forked CleanerVersion and will post in this ticket as we progress.

[2015-05-19 23:24] boydjohnson commented on #59
First push to [GreatBizTools/CleanerVersion](github.com/GreatBizTools/CleanerVersion) was a small change: start of VersionableAdmin class that right now make id and identity read only.

[2015-05-22 09:03] #63 closed

[2015-05-26 14:37] aaraid opened #78 "Django 1.8 support"
Im currently working with Django 1.8 and I would like to use the cleanerversion.
Is there any release date for the support?

[2015-05-26 20:31] raphaelm commented on #78
For me, it works fine.

[2015-05-27 06:23] maennel commented on #78
Hey, I've addressed this in #79. Let me know if you have any feedback for the Django 1.8 support... Thanks!
-Manuel

[2015-06-04 00:32] brki commented on #47
I've started looking into this; it seems like there's a bug in Django at the moment, which made a cleanerversion test fail:

https://code.djangoproject.com/ticket/24912

As for migrations:
A UUIDField on non-PostgreSQL databases is defined as a 32 character CharField; we've currently got it defined as a 36 character CharField (without-hyphen size vs with-hyphen size).  Will have to look into how t

[2015-06-04 19:30] peterfarrell commented on #59
Just wanted to let people know that we're getting very close on making a PR for all of this.  We found out that the relationships weren't as much work as we originally expected -- most things worked out of the box.  The only thing we had to figure out was queryset delete because that wasn't implemented in the custom queryset class.

[2015-06-05 06:06] maennel commented on #59
Cool! Looking forward to your PR, @peterfarrell.

[2015-06-05 06:09] peterfarrell commented on #59
I merely helped outline the features and what not... However, all the hard
work is being done by @boydjohnson.
On Jun 5, 2015 1:06 AM, "Manuel Jeckelmann" <notifications@github.com>
wrote:

[2015-06-05 06:13] maennel commented on #59
Oh, by the way: there was quite some work done by @brki on queryset deletion - perhaps there's something you could use (didn't go into the details, but saw that the master branch on GreatBizTools is behind in exactly those points)? ...just to let you know @peterfarrell and @boydjohnson.
Thanks!

[2015-06-05 06:16] peterfarrell commented on #59
We'll look into it tomorrow by syncing our fork. The delete method was
basically the only thing we had to add to the current code base. Everything
else is brand new code for the admin.
On Jun 5, 2015 1:13 AM, "Manuel Jeckelmann" <notifications@github.com>
wrote:

[2015-06-11 06:08] #59 closed

[2015-06-11 06:11] maennel opened #84 "Django Admin-integration: Mix management of plain and versionable models"
Currently, it is not possible to manage non-versionable models with the Admin-interface integration that comes with CleanerVersion.
Adapt such that it is possible to mix them.

[2015-06-11 06:12] maennel opened #85 "Django Admin-integration: Make filter handling more intuitive"
Add the possibility to clear the filter on a model's view (currently one can't return to the initial view, listing ALL objects and not only filtered ones by either the as_of or the is_current filter)

[2015-06-11 06:14] maennel opened #86 "Django Admin-integration: Add unicode support"
Currently it does not seem to be possible to insert strings including unicode characters ("äöüé..."). Try to insert a city like "Zürich" to reproduce.

[2015-06-11 06:15] maennel opened #87 "Django-Admin integration: extend history access possibilities"
An object's history should also be accessible from non-current versions (via the top-right History button)

[2015-06-11 06:47] maennel commented on #78
Hey everyone, Django 1.8 is now officially supported with the 1.5.0 release of CleanerVersion.
Closing this issue...

[2015-06-11 06:47] #78 closed

[2015-06-11 06:49] maennel commented on #46
Hey @raphaelm, I assume that with the latest features added to CleanerVersion (Django 1.8 support) we can close this story, too. Let me know if the problem persists. Thanks for reporting!

[2015-06-11 06:49] #46 closed

[2015-06-11 06:53] maennel commented on #57
Hi @raphaelm, I think, this should be fixed by now. However, I'm not entirely sure. I'll take your test case and verify...

[2015-06-11 17:47] boydjohnson commented on #85
I've looked at it and it seems that one can toggle between is_current and all, but once an as_of filter has been applied there isn't a way to clear it and the clear button doesn't seem to clear anything.

[2015-06-11 18:08] boydjohnson opened #88 "Django Admin Integration: Docs that explain usage of VersionedAdmin class"
The VersionedAdmin class has custom boolean fields list_display_show_identity, ..._end_date, ..._start_date that can be overwritten in subclasses to have the admin show fewer versioning descriptors. There should be a place in the docs that explains them as well as the admin as a whole. I failed to think of this when making the original pull request. I'll work on it over the next week.

[2015-06-15 16:58] boydjohnson commented on #87
Adding explanation: If you click on history for a non-current object you get an error that the object doesn't have a change history. History view calls get_object with the object_id parameter. This comes from the URL and is the identity for Versionable objects, but is assumed to be the primary key in Django Admin. This is where the error comes from. In the VersionedAdmin get_object method we call

[2015-06-16 18:18] boydjohnson commented on #87
I was wrong. I needed to override history_view and now it shows history for each object with the same identity.

[2015-06-16 18:50] boydjohnson commented on #84
I think it is just that I erroneously registered Wine and WineDrinkerHat with VersionedAdmin. When they are registered with ModelAdmin they are available in the admin without save cloning them. Check out my most recent at [boydjohnson/cleanerversion](http://github.com/boydjohnson/cleanerversion).

[2015-06-16 19:22] boydjohnson commented on #86
This is caused by the __str__ method of the model. For the error I found it was City in the versions_tests.models file and the __str__ method is the function versionable_description. My understanding is that the unicode handling would be model specific depending on what language and words are being used in the model fields.

[2015-06-16 20:02] boydjohnson commented on #86
In Python 2 you can use the \__unicode\__ method and prepend u'' to everything. Check out [django docs](https://docs.djangoproject.com/en/1.8/topics/python3/#string-handling) for reading on unicode handling in Python 2 and 3. You can use a class decorator python_2_unicode_compatible to make the \__str\__ into a \__unicode\__ in Python 2 and do nothing in Python 3, to make the code compatible with

[2015-06-16 20:13] boydjohnson commented on #86
Got it to work with python_2_unicode_compatible decorator. So every versions_tests.models class with a __str__ method is both Python 2 and Python 3 unicode compatible.

[2015-06-19 19:24] boydjohnson opened #90 "Alternating .restore() on objects that have .clone() called on them produces unexpected results"
For example in the terminal:

    from versions_tests.models import City
    A = City(name="A")
    A.save()
    B = A.clone()
    B.name = "B"
    B.save()
    A = City.objects.filter(name = "A")
    A.restore()
    B = City.objects.filter(name = "B").get()
    B.restore()
    As = City.objects.filter(name = "A") #There are more than one now as expected
    for a in As:
         print a.is_curren

[2015-06-19 20:56] brki commented on #90
You are quite right, that is wonky.  Thanks for providing code to reproduce it!

[2015-06-19 21:16] brki commented on #26
Should we drop this issue?  Django 1.6 is no longer supported by the Django project.

[2015-06-22 06:38] maennel commented on #26
Agree.

[2015-06-22 06:38] #26 closed

[2015-06-22 08:40] #90 closed

[2015-06-22 09:08] maennel commented on #88
This can be closed, I think. Thanks for the PR!

[2015-06-22 09:08] #88 closed

[2015-06-22 09:10] #86 closed

[2015-06-22 09:10] #87 closed

[2015-06-22 09:11] maennel commented on #84
Understand, thanks.

[2015-06-22 09:11] #84 closed

[2015-06-22 20:36] peterfarrell commented on #90
Thank goodness, @boydjohnson and I were seeing strangeness with restore and tracked it down to memory objects having the wrong state. Thanks for fixing it @brki

[2015-06-23 22:24] boydjohnson opened #93 "Interest in Selenium tests..."
Since we have the Admin, would you guys want Selenium tests on the Admin interface?

[2015-06-26 08:45] frensjan opened #94 "Django 1.7 incompatibility in will_not_clone in versions/admin.py"
The changes from https://github.com/swisscom/cleanerversion/commit/f64d69e6cd1e4e3fd030c17adbd9112a28ba4418  for ```will_not_clone``` in ```versions/admin.py``` broke compatibility with Django 1.7. The invocation of ```each_context``` in Django 1.7 doesn't have request as argument. See [django/contrib/admin/sites.py on line 264](https://github.com/django/django/blob/stable/1.7.x/django/contrib/adm

[2015-06-26 09:10] maennel commented on #94
Hey, @frensjan, thanks for reporting!

[2015-06-26 09:13] frensjan commented on #94
@maennel no problem. Hope the PR helps.

[2015-06-26 14:05] #94 closed

[2015-06-26 14:16] maennel commented on #93
Hey @boydjohnson, unfortunately, I really can't estimate how complex it would be to write Selenium tests. I see though that we'd need them to test the JS and HTML part that you've added.

I think that until then, we could keep it easy by testing already what's written in Python by testing what is returned by the newly added methods.
For example, the ``TemplateResponse`` object returned by ``histor

[2015-07-03 15:25] brki opened #97 "Behaviour of direct assignment of reverse ForeignKeys"
At the moment, code like this:
[code]

will print "0" - which seems wrong, because there were two drinkers at time t0.

I'm not sure how this should be handled at the moment.  Two ideas:
* At direct assignment time, automatically clone the referencing records
* At clone time, also clone referencing records

Does anyone else have some input / ideas?

[2015-07-06 14:02] brki commented on #97
After having given it some more thought, it seems like the right way to do this is optionally, at direct assignment time.  At clone time it gets messy, especially when you consider what happens if you clone the object with the FK, and don't clone the referred-to object, and then remove the cloned object from the reverse relations via direct assignment on the referred-to object.

So something like

[2015-07-09 11:50] brki commented on #97
Following the logic of remove()  (e.g. ``beer1.drinkers.remove(drinker1)``), it seems that it's sensible to automatically clone the object when clear() is called.  clear() is called when a direct assignment is made.

So, there's no need for the ``clone_relations_on_direct_assignment`` property.

[2015-07-09 13:27] brki opened #99 "Stop backporting fixes / features for unsupported versions (e.g. 1.6)"
Currently, Django 1.6 has reached end of life.

Should we not create a Django 1.6 branch of CleanerVersion and let it rest in peace?

This would also mean:
- documenting what version of CleanerVersion works with what release of Django
- removing 1.6 dependant code from CleanerVersion to ease development going further
- removing 1.6 from the Travis test environments

Soon enough (early 2016) Django

[2015-07-09 13:28] brki commented on #99
@boydjohnson this might be an interesting subject for you?  You asked about continuing 1.6 support at some point.

[2015-07-09 21:35] boydjohnson commented on #99
@brki It is totally fine for me to not have 1.6 support. I had wondered in the past since Django had stopped 1.6 support if it would be a good idea to stop 1.6 support with CleanerVersion.

[2015-07-09 22:18] peterfarrell commented on #99
I agree with @boydjohnson -- there is no need to support Django 1.6 any longer especially since it appears the release cycle of Django will be increasing to a faster pace . We should document what was the last version number of CleanerVersion that supported 1.6 for those still using 1.6 (so they don't upgrade by accident).

[2015-07-13 13:26] brki commented on #53
Works fine now, some commit must have fixed the problem :)

[2015-07-13 13:26] #53 closed

[2015-07-13 14:22] peterfarrell commented on #53
Yay!

[2015-07-13 15:31] peterfarrell commented on #57
@boydjohnson could you confirm this is fixed?  I vaguely recall having a similar issue a few months ago.

[2015-07-13 17:29] boydjohnson commented on #57
I'm having the same problem on a test case of
'''class Order(Versionable):
         name = models.CharField...

 class OrderPosition(models.Model):
       name = models.CharField...
       order = VersionedForeignKey('Order')'''

and then
''' OrderPosition.objects.filter(order__name = 'Anything')'''

fails with ValueError("joined_alias not set") from CleanerVersion/versions/models.py", line 386, i

[2015-07-13 18:02] peterfarrell commented on #57
@boydjohnson thanks for confirming.  Does it work if you use `as_of()` as part of the expression?

https://github.com/swisscom/cleanerversion/blob/master/versions/models.py#L382-L386

[2015-07-13 20:29] boydjohnson commented on #57
@peterfarrell Since OrderPosition is an unversioned class it has no as_of.

Also,
 I can get the query to work from Order (which is Versionable) to OrderPosition (which isn't).

'''Order.objects.filter(position__name = 'Anything')''' works when the related_query_name is set to position.

[2015-07-13 22:06] peterfarrell commented on #57
@boydjohnson  and I have figured out a suggested fix for this -- really simple and it doesn't break any of the current test suite.  The assertion checking on joined_alias is a bit over zealous in this case.  Watch for a PR from Boyd.

[2015-07-14 09:04] #97 closed

[2015-07-15 12:07] maennel commented on #57
@peterfarrell and @boydjohnson Agree. I've taken over your PR and refined the assertion check. This issue can be closed after PR #103 has been merged.

[2015-07-15 15:15] maennel commented on #57
Merged.

[2015-07-15 15:15] #57 closed

[2015-07-20 16:09] brandonmoser opened #104 "No defaults added to existing models changed to Versionable"
When converting an existing `models.Model` model class to a `Versionable` model class, defaults are not provided, therefore the user must make decisions as part of `makemigration` migration step.  For the 2 examples below, Versionable should be able to handle these sensibly. For `identity` fields, it should copy the table's PK field, as this is what it does for new rows in the table. For date fiel

[2015-07-21 15:29] brandonmoser commented on #56
I'm receiving the same error while trying to run a migration with an VM2M field, but was unable to get the above workaround to fix the error. Here is the snippet of the migration that references a VersionedManyToManyField.

[code]

If I add a `related_name=` attribute, as suggested above, it still fails with the same error,
 _AttributeError: 'VersionedManyToManyField' object has no attribute '_m2m

[2015-08-06 01:03] halfnibble opened #105 "Question: MySQL Support?"
I see that the documentation specifically mentions PostgreSQL support. Should I infer that MySQL will not work? I ran the tests on my application, and had 34 failures. Just wondering if this is because I'm using MySQL. If so, it would be nice if you explicitly stated that MySQL will fail in the documentation. Thanks.

[2015-08-06 07:39] brki commented on #105
Hi @halfnibble ,

well I'm kind of surprised that it doesn't work on MySQL, since it does work on SQLite.  We're definitely open to pull requests to fix the issues so that it works on MySQL.

Which tests are failing?

[2015-08-06 08:20] halfnibble commented on #105
Here is git containing my full error output. For anyone interested.

https://gist.github.com/halfnibble/5067817b3a235a1a6ac2

[2015-09-24 09:08] acidjunk commented on #19
The docs mention that it won't work when using the Versionable on the parent class. So I wonder if multi-table inheritance will work when using Versionable on, all of, the child classes?

[2015-09-24 19:45] rasca opened #107 "Using the provided ModelAdmin it creates a new version even when there are errors"
You clone the object in `get_object` before the forms validation take place.

I think the correct place to do this would be in `save_model()` taking into consideration that it also affects `save_related()`.

[2015-09-25 18:10] boydjohnson commented on #107
I was able to confirm with a field that does the validation in the Python like EmailField, that cloning happens even though errors happen. @rasca, I think you are right that the cloning should happen in save_model. The below seemed to work, but I don't have time to fully test it out.

    def save_model(self, request, obj, form, change):
        if obj and obj.is_latest and 'will_not_clone' not in

[2015-09-25 23:19] rasca commented on #107
I don't think that solution will work.
You need to think about the m2m fields and the inline formsets that are saved in the `save_related()`.

In the upcoming 1.9 cloning the object in `save_model()` and assigning it to `form.instance` and the formsets instances will work, but in 1.8 and previous versions it will not work, because the way in which `form.save_m2m` is created (when calling `form.sav

[2015-09-25 23:31] rasca commented on #107
I think I found a solution for 1.8 and earlier:

[code]

What do you think? We should also update each `formset.instace` to the cloned obj in `save_related()`.

[2015-10-01 16:44] boydjohnson commented on #107
@rasca Sorry for the delay, when I ran that code it saves the previous object with the updated (cloned) information, so a City named Northfield gets cloned and renamed to Demascus then they both are Demascus.

[2015-10-04 21:17] rasca commented on #107
Yes.. I ended up using this code:

[code]

Though it takes two additional queries and messes with version_start_date manually.

[2015-10-07 15:59] jsenecal commented on #33
Any news on this ?
I'm +1 for version_as_of(...) as well :)

[2015-10-08 17:52] jsenecal opened #108 "Django 1.8: RuntimeWarning: DateTimeField [...] received a naive datetime ([...]) while time zone support is active."
Hi there,
as per https://docs.djangoproject.com/en/1.8/topics/i18n/timezones/#code it seems like the date-time passed to the version_end_date and version_start_date are being passed a naive datetime (that is a datetime without a timezone).

I think this happens because of [line 51 in models.py](https://github.com/swisscom/cleanerversion/blob/master/versions/models.py#L51) but i'm not sure.

Thanks

[2015-10-08 17:55] jsenecal commented on #108
Also, see [this answer](http://stackoverflow.com/a/20106079/2690353) for additionnal clues

[2015-10-08 18:12] jsenecal commented on #108
Sorry - Closing this now - my bad - I was the one supplying a naive datetime to `as_of`.

Thanks for this package nonetheless :+1:

[2015-10-08 18:12] #108 closed

[2015-10-18 00:05] maennel commented on #56
So, I've managed to write a test case that reproduces this issue reliably (see branch ``bugfix/reproduce_failing_vm2m_migration`` and the commit above). Unfortunately, I'll have to postpone the follow-up to some other day...

[2015-10-18 15:21] maennel commented on #33
@brki Did you start work on this, already?

[2015-10-19 07:14] brki commented on #33
No, not at all.  Go ahead if you feel like it.

[2015-10-19 13:57] maennel commented on #56
So far, I've managed to work around the first error that is described above. However, there's more! ;)
It seems that in general, Django migrations don't get along very well with M2M-intermediary models that are Versionable at the same time (so, basically any ``VersionedManyToManyField`` being defined).
Finally I got to the following error:

    Error
    Traceback (most recent call last):
      Fi

[2015-10-21 15:06] raphaelm opened #111 "Support for Django 1.9"
The first beta for Django 1.9 has just been released, no more features will come to 1.9, only bugs will be fixed. One could therefore start evaluating what needs to change in cleanerversion to support Django 1.9.

At a first look, I noticed that some pretty things of the ORM implementation pretty essential to cleanerversion have been changed:
- `ValuesQuerySet` and `ValuesListQuerySet` have been r

[2015-12-03 21:32] raphaelm commented on #111
Django 1.9 has been released now :)

[2015-12-03 21:57] raphaelm commented on #111
It seems like none of the descriptor classes vanished, but https://github.com/django/django/commit/e542e81b39e8610b70cf1d68f95ece0279028765 renamed them. I tried to adjust it myself, but I failed so far. For someone who actually understands how all this stuff works, it should not be too hard from the first look.

[2015-12-04 10:25] maennel commented on #111
Hey @raphaelm, have you pushed your attempt to migrate to Django 1.9 already somewhere? Thanks

[2015-12-04 14:15] raphaelm commented on #111
No, because I did not do much more than renaming the class imports according to the commit I referened above until there were no more "unresolved names" left, however, nothing worked at all. I threw it away for a second try that also did not work out.

[2016-01-05 13:41] maennel commented on #56
I've been pointed to Django's ticket [#25154](https://code.djangoproject.com/ticket/25154) which was obviously opened by @brandonmoser. Thanks for that, I think the way it's going will be helpful.
Also, there's a patch suggested by @MarkusH which can be found [here](https://github.com/django/django/compare/master...MarkusH:migration-traceback) which could help for further debugging.

[2016-01-05 13:54] maennel commented on #111
So, I've created a [django19-compatibility branch](https://github.com/swisscom/cleanerversion/tree/django19-compatibility) already. For now, I've added the additional Django1.9 environments for testing (and removed the ones for Django1.6).
As expected (and reported), tests fail: https://travis-ci.org/swisscom/cleanerversion/branches

[2016-02-20 09:43] qrilka commented on #62
Did you find any way around this?

[2016-02-21 00:20] ezheidtmann commented on #62
I don't think so; I've moved on to other projects and as far as I can remember, I just avoided doing a proper data migration on that project.

[2016-02-21 11:44] qrilka commented on #62
Thanks @ezheidtmann
And I have just gone with a manual way - using relation ids, not related instances themselves.

[2016-03-08 20:38] dhobbs opened #114 "Support for versionId integer instead of timestamp?"
Hi,

Apologies for opening an issue when what I really have is a question.

I want to implement immutable / append-only models in our system (no UPDATEs only INSERTs), so we can store full history for our data. In other platforms I've done this with an integer versionId with a unique constraint on (versionId, id) columns. All saving code would try to insert rows with (versionId + 1, id). This also

[2016-03-09 07:38] brki commented on #114
I'm not sure about the specifics of your application, but it seems like you would also get an error with cleanerversion if you try to clone a particular object (e.g. an object with the same id and identity) twice.  It should not be possible to clone a non-current (e.g. with version_end_date != null) version, so an error would be raised when a second process tries to clone the already-cloned-by-ano

[2016-03-09 08:17] brki commented on #114
After looking at the code again, I see that what I said before is not true.  Both processes would succeed in "updating" the object.

It seems like it wouldn't be too hard to adapt that so that the save only succeeds if the version_start_date of the in-memory object is the same as the version_start_date of the object in the database.

[2016-03-17 10:01] qrilka opened #115 "Is there good way to reference specific version?"
It appears that `cleanerversion` allows only keys to the latest version of particular entity with `VersionedForeignKey` allowing to check version for specific time.
But what if I want to have a link to some specific version? E.g. I want to store the state of some entity just like it was at that particular time. I can't use id/identity as those get overriden. I could use id + datetime but that seem

[2016-03-17 10:15] brki commented on #115
If you store someplace the identity and datetime, then you can at any later time get back to that object with something like:
[code]

And from this entity you can get all the related objects as they were at ``desired_datetime`` just by accessing them as you normally would with the Django ORM, for example:
[code]

If you want to query several entities *at different times* all in one query: no, that

[2016-03-17 10:26] qrilka commented on #115
Yes, I was asking about 1 event log with events of different times looking at different versions of different objects.
Mutable history used in `cleanerversion` pays back at least for this scenario, ok I'll use something else, thank you

[2016-03-22 19:01] dhobbs commented on #114
I've had a go at adding a version number field here: https://github.com/dhobbs/cleanerversion
It's broken at present but it looks achievable. Using monotonic integer version ids could also potentially improve query performance (although that's not my main motivation)

[2016-04-07 14:53] maennel opened #116 "Exception message verbosity for <model>.DoesNotExist exception"
Exception message verbosity for related (and failed) lookups could be enhanced by adding the source object's type, identity and, if set, the querytime used for the lookup.
Note that the DoesNotExist class is bound to the related model's class.
So, the following code would raise an ``Article.DoesNotExist`` exception if no article is found:
[code]

[2016-07-22 10:48] maennel opened #117 "Handle the case if querytime gets assigned None"
In https://github.com/swisscom/cleanerversion/blob/master/versions/models.py#L549 the docstring says that a querytime can be assigned None. If this is done, however, the DB query fails.
So, instead, assign a Querytime instance with 'active' being set to False.

[2016-07-22 12:17] maennel opened #118 "Enable interval/time range querying"
Queries for objects during a time interval should be possible.

Right now, objects at a specific point in time can be queried. If one needs objects that lived during a specific time interval, it gets difficult. CleanerVersion should help to do this by adding the following query possibility on `VersionedManager` and `VersionedQuerySet`:

`Model.objects.in_interval(start, end, unique=<bool>, inclusi

[2016-08-25 09:31] brki commented on #118
@maennel I'm not sure I understand the value of having the ``inclusive`` parameter.  What's the use case for that?

There are these possible cases:
1. version ended before or started after the interval
2. version started before and ended after the interval (or never ended)
3. version started and ended during the interval
4. version started before and ended during the interval
5. version started du

[2016-08-30 07:54] brki commented on #118
Current status on brki/cleanerversion/interval-querying:

Works for queried models, including with the ``unique`` parameter for in_interval().

Still TODO:
* make it work for relations
* more testing
* clarify use case for ``inclusive`` parameter

[2016-08-30 08:09] brki commented on #99
TODO: create cleanerversion-django1.6 and cleanerversion-django1.7 branches, and cleanup old code branches that support those versions.

[2016-11-03 09:38] s-m-b opened #123 "After 1.6.0 identity_shortener fails with 'UUID' object has no attribute '__getitem__'"
With list_display_show_identity = True in admin

[2016-11-03 10:11] brki commented on #123
The fix would be to add str() around object.identity at https://github.com/swisscom/cleanerversion/blob/87b0a3c7f8b5e755fc67670785016457325d4c12/versions/admin.py#L276 .

Adding a test would be nice.

[2016-11-03 10:19] brki commented on #123
I assume that ``history_view()`` in admin.py also fails, since it calls ``unquote()``, which expects it's parameter to be a string.

[2016-12-13 08:01] brki opened #124 "defer() and only() do not work with Versionable models"
When trying to do this (where Foo is subclass of Versionable), an infinite loop happens:

[code]

[2016-12-20 08:27] #124 closed

[2016-12-26 14:32] matuu opened #126 "Restore deleted object does not work properly."
I am attempt restoring a deleted object, and I have noticed that id is not equal to identity after to restoring. When I restore a related object, the relationship is not correct because id != identity.

Below, an example. This object with id = 1 was delete at 2016-12-15. When attempt restoring it, its id is not 1 again.
![example](http://storage1.static.itmages.com/i/16/1226/h_1482762368_9620946_c

[2017-01-23 10:10] mikeengland opened #128 "Support for MySQL and Django 1.10"
Hi,

Is there any appetite to support MySQL and Django 1.10? It looks like a very useful project, however the common combination of MySQL and the latest major Django version is not supported.

Thanks!

[2017-01-23 11:37] maennel commented on #128
Hi @mikeengland, thanks for your interest.
Let me elaborate a bit on Django version support: From Django 1.8 (LTS) to Django 1.9 there were major changes in the ORM. So, we're adapting code to have CleanerVersion run on Django 1.9. From what I saw, there are not that many changes in between 1.9 and 1.10, which would mean, that once we have support for 1.9, 1.10 would be an easy one. See PR #127 fo

[2017-01-23 12:09] mikeengland commented on #128
Thanks for the quick response @maennel. I saw the issue https://github.com/swisscom/cleanerversion/issues/105 where someone was complaining about tests failing. I'll keep an eye on the 1.9 progress, thanks!

[2017-01-30 07:33] maennel commented on #128
I'll re-open this issue to make the desire for MySQL/Maria and Django 1.10 explicit.

[2017-02-03 14:45] brki opened #129 "prefetch_related() that uses a Prefetch with a queryset is not joining correctly"
Here is a failing test that can be added to `versions_tests.tests.test_models.PrefetchingHistoricTests`:
[code]

The second-to-last assertion fails.

Inspecting the generated query, I can see that it tries to select the related objects using ids.  It should however select using identities and an as_of clause.

I suspect that the `VersionedReverseSingleRelatedObjectDescriptor` needs to have a custo

[2017-02-06 08:54] maennel commented on #128
@mikeengland while adding tests for MySQL/MariaDB, I stumbled upon an issue regarding timestamp precision with earlier versions of MySQL/MariaDB. So, please make sure you have the maximum precision (which is "6" positions after the comma) enabled for all DateTime fields on all Versionable models (`version_birth_date`, `version_start_date`, and `version_end_date`).
Otherwise, you may run into issue

[2017-02-06 11:11] brki commented on #126
Thanks for the report.

Can you provide some code to allow reproducing this?

What database type are you using?

Have you specified a value for VERSIONS_USE_UUIDFIELD in your settings?

What version of Django are you using?

What version of CleanerVersion are you using?

[2017-02-07 13:43] mikeengland commented on #128
Thank you @maennel 👍

[2017-02-09 08:40] maennel opened #132 "Fix prefetch_related issue for Django 1.9"
As suggested in #131, fix the `prefetch_related` issue mentioned in #129 for Django1.9.

[2017-02-27 10:33] srikanth148 opened #133 "ImportError: No module named 'manager'"
File "/usr/local/lib/python3.4/dist-packages/simple_history/models.py", line 8, in <module>
    from manager import HistoryDescriptor
ImportError: No module named 'manager'

I am getting this error while starting server

[2017-02-27 11:04] brki commented on #133
Hi @srikanth148 I think you created this issue for the wrong project.  Perhaps you were looking for https://github.com/treyhunner/django-simple-history ?

[2017-02-27 13:38] srikanth148 commented on #133
I am sorry , the error is "ImportError: cannot import name 'ReverseSingleRelatedObjectDescriptor' "

[2017-02-27 15:13] brki commented on #133
@srikanth148 a few questions:
* how did you install CleanerVersion?
* can you provide a small code sample that allows reproducing the problem?
* can you provide the full exception details (message + stack trace)?

[2017-03-02 10:11] srikanth148 commented on #133
I used pip to install CleanerVersin, Django version - 1.10.1
![screenshot from 2017-03-02 15 33 49](https://cloud.githubusercontent.com/assets/26059420/23502382/b0d23f66-ff5d-11e6-997e-a2922b630156.png)

Models
[code]

views
[code]

[2017-03-02 16:09] brki commented on #133
Thanks @srikanth148.

Unfortunately at the moment CleanerVersion does not work with Django versions higher than 1.8.  There is an open pull request #127 for the DJANGO_1.9 branch, that needs to be reviewed and released.  (It's a pull request from the principal author of the project, so is probably quite trustworthy).

There probably are not too many changes that need to be made from the DJANGO_1.9

[2017-03-02 16:10] brki commented on #129
TODO: create a new release.

[2017-03-02 16:29] brki opened #134 "Limit to compatible Django versions with setup.py's install_requires"
As per https://packaging.python.org/requirements/#install-requires , CleanerVersion's setup.py should limit installation to known compatible Django versions.

If this has the consequence, though, of downloading a different Django version than the one that a user already has installed, it is not an optimal solution.

Two alternatives (which should perhaps be used together):
  * check early in setup

[2017-03-06 06:21] srikanth148 commented on #133
Thanks @brki

[2017-05-08 16:43] gabn88 opened #135 "Self.pk on Model.save() method"
I often use:

[code]

to determine if the instance is newly created or just modified. However by using Versionable, this doesn't work anymore, because it sets the id to an UUID automatically.

It would be nice if this could be fixed.

[2017-05-10 10:03] gabn88 opened #136 "The delete method of Versionable raises an error"
[code]
on collector.collect([self]) an error is raised:
`AttributeError: 'Manager' object has no attribute 'current'`

[2017-09-11 10:30] maennel commented on #132
Done in #140

[2017-09-11 10:31] maennel commented on #128
Support for Django 1.10 will come w/ PR #140

[2017-09-18 19:41] maennel commented on #133
I guess this issue can be closed with PR #140. Closing. ;)

[2017-09-18 19:41] #133 closed

[2017-09-18 19:42] maennel commented on #132
Closing.

[2017-09-18 19:42] #132 closed

[2017-09-18 19:44] maennel commented on #129
Can be closed with PR #140

[2017-09-18 19:44] #129 closed

[2017-09-18 19:53] #115 closed

[2017-09-18 19:56] maennel commented on #99
With the latest PRs addressing Django 1.9 and up, I think we can close this issue. Historic versions of CleanerVersion are tracked using the DJANGO_* branches, indicating the compatibility.

[2017-09-18 19:56] #99 closed

[2017-09-18 19:59] maennel commented on #47
Hm, there is the ``VERSIONS_USE_UUIDFIELD`` setting, allowing to use UUIDFields; So, I'm wondering, whether this issue is still of interest?
From my point of view, we can close it, since UUIDFields are productively used with CleanerVersion for some time now.
Opinions? ;)

[2017-09-24 18:40] raphaelm commented on #47
Since I don't use cleanerversion any more, I don't really care, but I agree that this looks fixed.

[2017-09-24 18:40] #47 closed

[2017-10-18 19:03] rossmechanic commented on #123
Any plans to fix this? Or to fix the history view?

[2017-10-20 16:10] rossmechanic opened #143 "Restore button on django-admin doesn't work"

[2017-10-20 16:12] rossmechanic commented on #143
<img width="1185" alt="screen shot 2017-10-20 at 12 11 01 pm" src="https://user-images.githubusercontent.com/6855461/31830998-ec24981e-b58f-11e7-87f5-99d032a3d442.png">

[2017-10-20 16:21] maennel commented on #123
From what I can see, @rossmechanic addressed this issue with #142
Closing.

[2017-10-20 16:21] #123 closed

[2017-10-23 17:26] #143 closed

[2017-10-24 15:45] rossmechanic opened #144 "Version on save"
@maennel May I ask why versioning isn't mandatory on `save`? Trying to use CleanerVersion for my use case but don't want developers to be able to save versionable objects without versioning. Seems like it may be difficult to refactor CleanerVersion for my use case. May I ask why `clone` was separated from `save` to begin with? Thanks.

[2017-10-25 11:49] maennel commented on #111
I'll close this issue, since we have introduced support for Django 1.9 and onwards. See #127 for more info.

[2017-10-25 11:49] #111 closed

[2017-10-25 17:10] maennel commented on #144
Hey @rossmechanic
To split out `clone` from `save` was a design decision that we made quite early in de development of CV.
If I remember correctly, there are quite some `save()` invocations in the Django ORM, when it comes to batch handling and also other scenarios like testing. So, versioning upon `save` introduced many DB roundtrips that weren't necessary. This makes a difference especially if y

[2018-02-28 18:33] rossmechanic opened #147 "history_view in admin functionality"
Right now the history_view within admin looks the same as the one we would normally have. Are there any plans to create a history_view template similar to the one in `django-simple-history`? I.e. allowing you to see the real history of an object and select older versions to restore?

[2018-03-01 22:19] maennel commented on #147
Hey @rossmechanic, thanks for the suggestion. Right now, there are no plans to implement this. However, I wouldn't reject it, if someone would take over the implementation of this. As you may have noticed, we didn't focus as all on the integration to the admin interface right now... I'm tagging this issue as a "help wanted" ticket.

[2018-03-02 18:06] rossmechanic commented on #147
Sure. Happy to implement it. I'll put up a PR within the next week.

[2018-03-12 22:35] guymaor86 opened #148 "Exclude property interferes with other libraries"
Hi, I'm using `cleanerversion` and I'm also trying to use the following library at the same time [sortable2](https://github.com/jrief/django-admin-sortable2).
This library requires that their `mixin` be used before the `ModelAdmin` when inheriting.

The error I'm getting is `AttributeError: can't set attribute` when that library tries to set `exclude` to a value and this is because of `cleanerveri

[2018-03-20 07:49] tbazadaykin opened #149 "Doc misprint"
I think that thare is some misprint in the documentation:

It seems, that the first tuple should be `(2, True)`, not `(True, 2)`.

[2018-03-20 14:48] tbazadaykin opened #150 "VersionManager.as_of(): avoid using OR in query"
When using `as_of()` it using `OR` operator into query to add current record into result.

[code]

If set `version_end_date` default value to `datetime.max` (or other hard-to-reach value) it is possible to avoid using `OR`. This will lead to a decrease of query cost.

[code]

[2018-03-22 18:04] rossmechanic opened #151 "Few questions about VersionedForeignKey"
When using VersionedForeignKey, I'm getting the new, updated related models showing that they're current, as well as the old versions. Is there any chance we can talk offline about this so I can get a better understanding of the functionality here? Working on adopting your library and happy to submit a lot of new features/bugfixes/functionality upstream, but need a better understanding of this to

[2018-03-26 20:14] maennel commented on #149
Agree - thanks for pointing out. Do you have time to create a PR for this? Thanks

[2018-03-26 20:20] maennel commented on #150
Hey @tbazadaykin, thanks for coming up with this. I see a bit of a trade-off in identifying current versions - but this may be less of a problem than it seems, if the column is properly indexed.
I will not have time to go deeper into this during the upcoming couple of weeks, but will try to get back to this point sometime later.

[2018-03-30 21:25] torticolix opened #153 "Issue with postgresql"
Hi all !

I tried to use cleanerversion with mptt.
Seems to work fine with sqlite until I switched to postgresql :

Anyone an idea ?

Traceback (most recent call last):
  File "/usr/lib/python3.6/site-packages/django/db/backends/utils.py", line 83, in _execute
    return self.cursor.execute(sql)
psycopg2.ProgrammingError: relation "versions_tests_chainstore" does not exist

The above exception was

[2018-03-31 04:59] maennel commented on #153
Hey @Torticolix, it looks like migrations have not been applied at some
point.
Can you please describe the steps how you got to this point?
Thank you.

On Fri, Mar 30, 2018, 14:37 Torticolix <notifications@github.com> wrote:

[2018-03-31 07:52] torticolix commented on #153
I got this problem by trying to make an existing project versionnable.
My tests worked fine in a virtual environment but not on my development system (without venv)
I created a new project, only added mptt and cleanerversion to INSTALLED APPS. migrate works with sqlite but got this above with a newly created PostgreSQL database

[2018-03-31 15:37] maennel commented on #153
So, my assumption is that the command that you are running is ``python
manage.py migrate`` and it fails with the above error message.
With the current information it is difficult to say what is wrong. Maybe
the settings(.py) used for the migration could help. Can you please add
them to the thread?
What seems a bit strange to me is why does migrate try to act the test
models (from versions_tests)?

[2018-03-31 21:44] torticolix commented on #153
I tried from scratch in a virtual environment
Here step by step what I did :

pipenv install django django-extensions werkzeug
pipenv install django-mptt cleanerversions
pipenv install psycopg2

pipenv shell
django-admin startproject myapp
cd myapp

added in INSTALLED_APPS of settings.py
    'django_extensions',
    'mptt',
    'versions_tests',

1st try (sqlite) :
./manage.py makemigrations
./man

[2018-03-31 23:54] maennel commented on #153
Hey @Torticolix, there was no offense intended. Sorry if I expressed myself
in a way that gave you that impression..

Back to business: Thanks for providing more details. I think you should be
able to remove ``versions_tests`` from INSTALLED_APPS. With that,
migrations should pass.
Cleanerversion does some additional things if it detects you're using
PostgeSQL, like adding additional indexes etc.

[2018-04-01 00:02] maennel commented on #153
Oh, and please add ``versions`` to your INSTALLED_APPS.

Looking forward to your feedback.

On Sat, Mar 31, 2018, 16:54 Manuel Jeckelmann <mjeckelmann@gmail.com> wrote:

[2018-04-02 07:05] torticolix commented on #153
Yep Maennel, migration passed !
Had no time to test deeper, but it's a good start for me 😁. Thanks for the help

[2018-04-02 07:06] #153 closed

[2018-04-16 13:05] #149 closed

[2018-08-08 11:52] kshitij-burman commented on #105
Anyone working on MySQL support?

[2018-10-28 03:36] jeromecc opened #156 "Documentation shows wrong import path for VerisonedForeignKey"
Latest documentation:

    from versions.models import Versionable, VersionedManyToManyField, VersionedForeignKey

Correct import as of latest release:

    from versions.models import Versionable
    from versions.fields import VersionedManyToManyField, VersionedForeignKey

Thanks for the great work.

[2018-10-30 16:47] maennel commented on #156
Hi @jeromecc, thanks a lot for your feedback! Glad you enjoy CleanerVersion.

[2018-11-05 08:27] jeromecc opened #158 "Question about usage of VersionedAdmin & Django complaining about "missing" template datetimefilter.html"
Hello dear developers & users of cleanerversion!

I am not sure I understand how to use VersionedAdmin properly.

I did this on my Django 2.0 app:

    # myapp/admin.py
    from versions.admin import VersionedAdmin
    #...
    class MyModelAdmin(VersionedAdmin):
        pass
    #...

    admin.site.register(MyModel, MyModelAdmin)

Then Django complained of missing template versions/datetimefilte

[2018-11-17 08:24] simkimsia opened #160 "How to clone the version when using Django Rest Framework?"
I am using Django as a backend hence Django Rest Framework and its serializers are my choice.

Creation works so long as I add the following in the serializer.

[code]

However, edit doesn't automatically trigger the clone. So how do I use CleanerVersion with DRF?

Django version: 1.11
DRF version: 3.7.7

[2018-11-19 07:45] simkimsia commented on #160
Okay I figured out how do to this in DRF serializer

[code]

[2018-11-19 07:46] #160 closed

[2018-11-19 07:47] simkimsia opened #161 "How useful is it to add documentation regarding using cleanerversion with Django Rest Framework?"
I had an issue about using cleanerversion with DRF. See #160

Now i have resolved it, I was wondering if it would be helpful for your readers for me to add what I learn to your docs.

Do let me know if this is useful.

[2018-12-06 07:07] simkimsia opened #162 "The VERSION_UNIQUE does not seem to work"
I have the following

[code]
I can still create duplicate with the same wbs_number despite the `VERSION_UNIQUE`

My workaround is install `django-partial-index` as a package
and then

[code]

And because I use DRF, my `serializers.py` looks like this:

[code]

[2018-12-06 07:48] maennel commented on #162
Hi @simkimsia, sorry for the delay in replying to all your PRs and questions. Your engagement with Cleanerversion is deeply appreciated!
Regarding the ``VERSION_UNIQUE`` statement, I'm afraid we didn't make it clear enough it will have an effect with PostgreSQL only:
- https://cleanerversion.readthedocs.io/en/latest/doc/historization_with_cleanerversion.html#unique-indexes
- https://github.com/swi

[2018-12-06 07:56] maennel commented on #160
Indeed, you have to override the ``update`` method. We faced the same/a similar challenge and went one step further by even comparing whether there is a diff between the old version and the new version (i.e. whether the update really makes sense).
This way you'd save some space if you expect many "dumb" updates.

[2018-12-06 08:00] maennel commented on #161
I think it would be useful to have a section with potential CleanerVersion integrations with frameworks like DRF, in your case.
As GitHub issues are searchable and a little bit less "persistent" it may be sufficient to anchor experiences in issues already, as you did with #160 ... It depends on how much time one wants to invest. :)

[2018-12-06 08:06] maennel commented on #158
Hi @jeromecc
One thing that I can think of, is that the ``versions`` module doesn't figure in the ``INSTALLED_APPS`` list and Django wasn't able to retrieve template files (https://docs.djangoproject.com/en/2.0/ref/settings/#templates). CleanerVersion documentation has been updated with #159 now.

Does that resolve the issue?

[2018-12-06 08:20] simkimsia commented on #162
@maennel thanks for responding :)

I used to use `django-simplehistory` and also softdeletable in `django-modelutils` but I decided to experiment with `cleanerversions` and I am beginning to like it more :)

By the way, when you say the indexes have to be created explicitly, what exactly do you mean? I saw the tests code, but I am still confused.

[2018-12-06 08:30] simkimsia commented on #162
@maennel I am still not too sure but I think I will give this a try as well. Thanks!

[2018-12-06 08:32] maennel commented on #161
Cool with that - go ahead ;)

[2018-12-21 19:14] joshua-s opened #163 "Generic relation support"
It would be really great if I could use this with generic relations. E.g. VersionedGenericForeignKey

[2019-01-27 03:59] danxshap opened #164 "Support for migrating an existing app to use CleanerVersion"
Hey all, I'm trying to migrate a single model in my existing app (Django 1.11 with Postgresql) to make it versionable, but I'm running into some database migration-related issues and I wanted to raise them to ask the CleanerVersion experts if I'm doing something wrong or if perhaps my use case simply isn't supported.

1. By default, CleanerVersion wants to migrate my existing model's `id` column f

[2019-02-04 08:33] maennel commented on #164
Hi @danxshap, thank you for your comment.
First of all, I'm afraid that the use case to migrate an existing Django model to a CleanerVersion model has not been focused on until now. Thus, there's no logic dedicated to facilitate this. You probably will have to write your own migration logic, adding UUID fields, changing the primary key field etc.

The ``VERSIONS_USE_UUIDFIELD`` property was origin

[2019-02-07 05:15] danxshap commented on #164
@maennel Yes this makes sense and addresses my questions -- hope it's helpful to someone else in the future as well. Thank you!

[2019-02-07 05:15] #164 closed, assigned to nobody